@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-margin {
    margin-left: calc(10% + 20px);
    margin-right: calc(10% + 20px);
  }
}

.restaurantStyle{
  overflow-y: auto;
  min-height: calc(100vh - 70px);
}